platform/osx-gl3-cocoa/sxge
gmon.out
./sxge
*.o
*.so
*.d
.DS_Store

*.class
*.dex
*.apk
*.ap_
R.java

local.properties

platform/android-gles-egl/bin/*
platform/android-gles-egl/libs/*
platform/android-gles-egl/gen/*
